---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

import "@src/assets/app.css";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Anrechnungsstunden" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <meta name="author" content="Lutz Pfannenschmidt" />
    </head>
    <body class="w-screen h-screen flex flex-col bg-base-100">
        <Navbar />

        <main class="flex flex-col gap-4 grow-1 m-12">
            <slot />
        </main>

        <Footer />
    </body>
</html>

<script>
    import "@src/router.ts";
    import "@src/docker.ts";
    import { logout, pb, refreshAuth } from "../pocketbase";

    if ((await refreshAuth()) && pb.authStore.record) {
        pb.collection(pb.authStore.record.collectionName).subscribe(
            pb.authStore.record!.id,
            (e) => {
                if (e.action == "delete") {
                    pb.authStore.clear();
                } else {
                    pb.authStore.save(pb.authStore.token, e.record);
                }
            },
        );

        // Refresh auth every 5 minutes
        const authInterval = 5 * 60 * 1000;

        setInterval(refreshAuth, authInterval);
    } else {
        logout();
    }
</script>
