---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Admin Dashboard">
    <h1 class="text-4xl font-bold">Admin Dashboard</h1>

    <ul class="menu w-md">
        <li><a href="/admin/data">Halbjahresverwaltung</a></li>
        <li><a href="/admin/points">Punkteverwaltung</a></li>
        <li><a href="/admin/users">Benutzerverwaltung</a></li>
        <li>
            <details open>
                <summary class="text-warning">Datenbank</summary>
                <ul>
                    <li>
                        <a target="_blank" href="/_">Datenbank</a>
                    </li>
                    <li>
                        <a target="_blank" href="/_/#/settings"
                            >Datenbank Einstellungen</a
                        >
                    </li>
                    <li>
                        <a target="_blank" href="/_/#/settings/mail"
                            >Email Einstellungen</a
                        >
                    </li>
                </ul>
            </details>
        </li>
    </ul>
</DefaultLayout>

<style>
    h1 {
        padding-left: 1rem;
    }

    li {
        font-size: 1.5rem;
    }
</style>
