---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Admin Login">
    <div class="w-full h-full flex flex-col gap-16 items-center justify-center">
        <h1 class="text-xl font-bold">Admin Anmeldung</h1>
        <form id="login" class="w-md flex flex-col gap-4">
            <label class="floating-label">
                <span>Email</span>
                <input
                    id="username"
                    class="input w-full validator"
                    type="email"
                    required
                    placeholder="Email Adresse"
                />
            </label>

            <label class="floating-label">
                <span>Passwort</span>
                <input
                    id="password"
                    type="password"
                    class="input w-full validator"
                    required
                    placeholder="Passwort"
                    minlength="8"
                />
                <p class="validator-hint">
                    Passwort muss mindestens 8 Zeichen lang sein.
                </p>
            </label>

            <button class="btn btn-primary" type="submit">Anmelden</button>
        </form>

        <a href="/" class="opacity-50 underline"
            >Zurück zur Benutzer Anmeldung</a
        >
    </div>
</DefaultLayout>

<script>
    import { toast } from "@src/toast";
    import { login, logout } from "../../pocketbase";

    const loginFrm = document.querySelector("form#login") as HTMLFormElement;
    const unameInpt = loginFrm.querySelector("#username") as HTMLInputElement;
    const passInpt = loginFrm.querySelector("#password") as HTMLInputElement;

    async function submitForm(e: Event) {
        e.preventDefault();
        let uname = unameInpt.value;
        let pass = passInpt.value;

        const ok = await login(uname, pass, "_superusers");
        if (ok) {
            window.location.href = "/admin/";
        } else {
            toast(
                "error",
                "Anmeldung fehlgeschlagen",
                "Benutzername oder Passwort falsch",
            );
        }
    }

    document.addEventListener("DOMContentLoaded", logout);
    loginFrm.addEventListener("submit", submitForm);
</script>
