<nav>
    <a id="home" href="/">Hauptseite</a>

    <div class="loggedin" style="display: none;">
        <a href="/" class="right" id="logout">Abmelden</a>
        <span class="right" id="username"></span>
        <a class="right" id="impersonate" style="display: none;"
            >Wieder als Admin anmelden</a
        >
    </div>
    <div class="loggedout">
        <a href="/login" class="right">Anmelden</a>
    </div>
</nav>

<style>
    #impersonate {
        cursor: pointer;
        color: rgb(var(--accent-color));
    }
</style>

<script>
    import { logout } from "../pocketbase";
    const logoutButton = document.getElementById("logout") as HTMLAnchorElement;
    logoutButton.addEventListener("click", () => {
        logout();
        window.location.href = "/";
    });
</script>

<script>
    import { isLoggedIn, isSuperuser, pb, refreshAuth } from "../pocketbase";
    const loggedin = document.querySelector(".loggedin") as HTMLElement;
    const loggedout = document.querySelector(".loggedout") as HTMLElement;
    const uname = document.getElementById("username") as HTMLSpanElement;
    const imp = document.getElementById("impersonate") as HTMLAnchorElement;

    const home = document.getElementById("home") as HTMLAnchorElement;

    updateNav();
    function updateNav() {
        if (!isLoggedIn()) {
            loggedin.style.display = "none";
            loggedout.style.display = "block";
            return;
        }

        loggedin.style.display = "block";
        loggedout.style.display = "none";

        const impData = localStorage.getItem("_superuser");

        if (isSuperuser()) {
            localStorage.removeItem("_superuser");
            uname.innerText = pb.authStore.record?.email + " | Admin";
            home.href = "/admin/index.html";
            return;
        } else if (impData && impData != "") {
            imp.style.display = "block";
            imp.addEventListener("click", async () => {
                const data = JSON.parse(impData);
                pb.authStore.clear();
                pb.authStore.save(data.token, data.record);
                localStorage.removeItem("_superuser");
                await refreshAuth();
                window.location.href = "/admin";
            });
        }

        uname.innerText =
            pb.authStore.record?.name +
            " | " +
            pb.authStore.record?.short.toUpperCase();
    }
</script>

<style lang="scss">
    nav {
        background-color: var(--accent-color);
        overflow: hidden;
        border-bottom: 1px solid rgb(var(--border-color));

        a,
        span {
            float: left;
            display: block;
            color: rgb(var(--text-color));
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;

            line-height: 2em;
            font-size: 1.2em;

            border-right: 1px solid rgb(var(--border-color));

            &.right {
                float: right;
                border-right: 0px;
                border-left: 1px solid rgb(var(--border-color));
            }
        }

        a {
            transition:
                background-color 0.3s,
                color 0.3s;

            &:hover {
                background-color: rgb(var(--border-color));
                color: rgb(var(--text-color));
            }
        }
    }
</style>
