---
import DefaultLayout from "../../../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Benutzerverwaltung">
    <h1 class="text-4xl font-bold text-center mb-8">
        Benutzerverwaltung | Neuer Benutzer
    </h1>

    <div class="flex flex-col justify-center items-center">
        <form id="create-frm" class="flex flex-col gap-4 min-w-md">
            <label class="floating-label">
                <span>Kürzel</span>

                <input
                    id="uname"
                    type="text"
                    class="input input-xl validator w-full"
                    required
                    placeholder="Kürzel"
                    minlength="3"
                    title="Das Kürzel muss mindestens 3 Zeichen lang sein"
                />
                <p class="validator-hint">
                    Das Kürzel muss mindestens 3 Zeichen lang sein.
                </p>
            </label>

            <label class="floating-label">
                <span>Email</span>

                <input
                    id="email"
                    type="email"
                    class="input input-xl validator w-full"
                    required
                    placeholder="Email"
                    title="E-Mail Adresse"
                />
                <p class="validator-hint">
                    Bitte geben Sie eine gültige E-Mail-Adresse ein.
                </p>
            </label>

            <label class="floating-label">
                <span>Nachname</span>

                <input
                    id="name"
                    type="text"
                    class="input input-xl validator w-full"
                    required
                    placeholder="Nachname"
                    minlength="1"
                    title="Bitte geben Sie den Nachnamen des Benutzers ein."
                />
                <p class="validator-hint">
                    Bitte geben Sie den Nachnamen des Benutzers ein.
                </p>
            </label>

            <button class="btn w-full" disabled type="submit"
                >Benutzer erstellen</button
            >

            <span id="msg" class="error-message text-alert"></span>
        </form>
    </div>
</DefaultLayout>

<style>
    h1 {
        text-align: center;
    }

    form {
        margin: 0 auto;
    }
</style>

<script>
    import { toast } from "@src/toast";
    import { isValidEmail } from "../../../../email";
    import { pb } from "../../../../pocketbase";

    const createFrm = document.getElementById("create-frm") as HTMLFormElement;
    const submitBtn = createFrm.querySelector("button") as HTMLButtonElement;

    const usernameInpt = createFrm.querySelector("#uname") as HTMLInputElement;
    const emailInpt = createFrm.querySelector("#email") as HTMLInputElement;
    const nameInpt = createFrm.querySelector("#name") as HTMLInputElement;

    async function submitForm(event: Event) {
        event.preventDefault();

        if (!checkValid()) {
            return;
        }

        const pwd = Math.random().toString(36).slice(-8) + "aA1!";

        const body = {
            password: pwd,
            passwordConfirm: pwd,
            emailVisibility: true,
            verified: true,
            email: emailInpt.value,
            name: nameInpt.value,
            short: usernameInpt.value,
        };

        try {
            await pb.collection("users").create(body);
        } catch (error: any) {
            toast(
                "error",
                "Es existiert bereits ein Benutzer mit diesem Kürzel oder dieser E-Mail-Adresse.",
            );
            return;
        }

        window.location.href = "/admin/users/index.html";

        checkValid();
    }

    function checkValid() {
        let valid = true;
        if (usernameInpt.value.length < 3) {
            valid = false;
        }

        if (!isValidEmail(emailInpt.value)) {
            valid = false;
        }

        if (nameInpt.value.length < 1) {
            valid = false;
        }

        markValid(valid);
        return valid;
    }

    function markValid(isValid: boolean) {
        submitBtn.disabled = !isValid;
        submitBtn.classList.toggle("btn-alert", !isValid);
        submitBtn.classList.toggle("btn-success", isValid);
    }

    document.addEventListener("DOMContentLoaded", checkValid);
    usernameInpt.addEventListener("input", checkValid);
    emailInpt.addEventListener("input", checkValid);
    nameInpt.addEventListener("input", checkValid);
    createFrm.addEventListener("submit", submitForm);
</script>
