---
import MustAdmin from "../../../../components/MustAdmin.astro";
import DefaultLayout from "../../../../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Benutzerverwaltung">
    <MustAdmin />

    <h1>Benutzerverwaltung | Neuer Benutzer</h1>

    <form class="frm frm-wide" id="create-frm">
        <div class="frm-group">
            <label for="uname">K端rzel:</label>
            <input class="inpt" type="text" id="uname" name="uname" required />
            <span id="unameMsg" class="error-message text-alert"></span>
        </div>
        <div class="frm-group">
            <label for="email">E-Mail:</label>
            <input class="inpt" type="email" id="email" name="email" required />
            <span id="emailMsg" class="error-message text-alert"></span>
        </div>
        <div class="frm-group">
            <label for="name">Nachname:</label>
            <input class="inpt" type="text" id="name" name="name" required />
            <span id="nameMsg" class="error-message text-alert"></span>
        </div>

        <button class="btn btn-alert btn-wide" disabled type="submit"
            >Benutzer erstellen</button
        >

        <span id="msg" class="error-message text-alert"></span>
    </form>
</DefaultLayout>

<style>
    h1,
    h2,
    p {
        text-align: center;
    }

    form {
        margin: 0 auto;
    }
</style>

<script>
    import { isValidEmail } from "../../../../email";
    import { pb } from "../../../../pocketbase";

    const createFrm = document.getElementById("create-frm") as HTMLFormElement;
    const submitBtn = createFrm.querySelector("button") as HTMLButtonElement;

    const usernameInpt = createFrm.querySelector("#uname") as HTMLInputElement;
    const emailInpt = createFrm.querySelector("#email") as HTMLInputElement;
    const nameInpt = createFrm.querySelector("#name") as HTMLInputElement;

    const usernameMsg = createFrm.querySelector("#unameMsg") as HTMLSpanElement;
    const emailMsg = createFrm.querySelector("#emailMsg") as HTMLSpanElement;
    const nameMsg = createFrm.querySelector("#nameMsg") as HTMLSpanElement;

    const msg = createFrm.querySelector("#msg") as HTMLSpanElement;

    async function submitForm(event: Event) {
        event.preventDefault();

        if (!checkValid()) {
            return;
        }

        const pwd = Math.random().toString(36).slice(-8) + "aA1!";

        const body = {
            password: pwd,
            passwordConfirm: pwd,
            emailVisibility: true,
            verified: true,
            email: emailInpt.value,
            name: nameInpt.value,
            short: usernameInpt.value,
        };

        try {
            await pb.collection("users").create(body);
        } catch (error: any) {
            msg.textContent =
                "Fehler beim Erstellen des Benutzers: Entweder existiert bereits ein Benutzer mit diesem K端rzel oder dieser E-Mail-Adresse.";
            return;
        }

        window.location.href = "/admin/users/index.html";

        checkValid();
    }

    function checkValid() {
        let valid = true;
        usernameMsg.textContent = "";
        emailMsg.textContent = "";
        nameMsg.textContent = "";

        if (usernameInpt.value.length < 3) {
            valid = false;
            usernameMsg.textContent =
                "Das K端rzel muss mindestens 3 Zeichen lang sein.";
        }

        if (!isValidEmail(emailInpt.value)) {
            valid = false;
            emailMsg.textContent =
                "Bitte geben Sie eine g端ltige E-Mail-Adresse ein.";
        }

        if (nameInpt.value.length < 1) {
            valid = false;
            nameMsg.textContent =
                "Bitte geben Sie den Nachnamen des Benutzers ein.";
        }

        markValid(valid);
        return valid;
    }

    function markValid(isValid: boolean) {
        submitBtn.disabled = !isValid;
        submitBtn.classList.toggle("btn-alert", !isValid);
        submitBtn.classList.toggle("btn-success", isValid);
    }

    document.addEventListener("DOMContentLoaded", checkValid);
    usernameInpt.addEventListener("input", checkValid);
    emailInpt.addEventListener("input", checkValid);
    nameInpt.addEventListener("input", checkValid);
    createFrm.addEventListener("submit", submitForm);
</script>
